.container {
  text-align: center;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.button:first-child {
  background-color: #008000;
}
.button:nth-child(2) {
  background-color: #ff0000;
}
.button:nth-child(3) {
  background-color: #808080;
}
.button:last-child {
  margin-right: 0;
}
.button:active {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
